/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #fff;
    background: #01ADB1;
    font-size: 1em;
    line-height: 1.4;
  }
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     Custom styles
     ========================================================================== */
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden {
    display: none !important;
  }
  
  /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
  * Hide visually and from screen readers, but maintain layout
  */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .clearfix:after {
    clear: both;
  }
  
  
  /* ==========================================================================
     Main Style Starts
     ========================================================================== */
  
  

body {
  background: #01ADB1;
}

.container {
  padding: 1rem;
}

#upper {
  padding: 1rem;
}

#title {
  margin: auto;
  height: 150px;
  max-width: 400px;
  background-image: url('../img/title.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#controls {
  text-align: center;
  font-size: 1.5rem;
  max-width: 900px;
  margin: auto;
}

#lower {
  background-color: rgba($color: #fff, $alpha: .2);
  min-height: 532px;
  padding: 1rem;
  text-align: center;
}

#team_holder {
  display: none;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #4f166f;
    top: 0;
    left: 0;
    opacity: .8;
    position: fixed;
  }
}

#team {
  background: black;
  border-radius: 50%;
  left: calc(50% - 600px);
  max-height: 600px;
  max-width: 1200px;
  min-height: 600px;
  overflow: hidden;
  position: absolute;
  top: calc(50% - 300px);
  width: 1200px;
  z-index: 1;
}

#year {
  -webkit-appearance: initial;
  background: rgba(0, 0, 0, .2);
  border: none;
  color: white;
  min-width: 80px;
  padding: .5rem 1rem;
  transition: .25s;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .5);
  }
}

#random {
  background-image: url('../img/refresh.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  margin: 2rem auto 0;
  transition: .25s;
  width: 50px;

  &:hover {
    cursor: pointer;
    transform: rotate(90deg);
  }
}

.info {
  display: inline-block;
  margin-right: 2rem;
  text-align: right;
  // width: 400px;

  .year {
    font-size: 1.5rem;
    color: black;
  }

  .title {
    background: black;
    border-radius: .5rem;
    display: inline-block;
    font-size: 1.5rem;
    padding: .25rem 1rem;
  }

  .description {
    color: black;
    font-size: 1.2rem;
    max-width: 400px;
    padding-top: .5rem;
  }
}

.avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: black;
  display: inline-block;
  height: 500px;
  vertical-align: middle;
  width: 250px;

  &#year_2019 {
    background-image: url('../img/gregors/2019.png');
  }
  &#year_2018 {
    background-image: url('../img/gregors/2018.png');
  }

  &#year_2017 {
    background-image: url('../img/gregors/2017.png');
  }
  
  &#year_2016 {
    background-image: url('../img/gregors/2016.png');
  }
 
  &#year_2014 {
    background-image: url('../img/gregors/2014.png');
  }

  &#year_2013 {
    background-image: url('../img/gregors/2013.png');
  }
  &#year_2012 {
    background-image: url('../img/gregors/2012.png');
  }
  &#year_2011 {
    background-image: url('../img/gregors/2011.png');
  }
  &#year_2009 {
    background-image: url('../img/gregors/2009.png');
  }
}

#selfie {
  background-image: url('../img/photo_w.png');
  height: 90px;
  width: 90px;
  background-repeat: no-repeat;
  background-size: 85px;
  background-position: center;
  float: right;
  transition: .25s;
  
  &:hover {
    transition: .25s;
    background-size: 90px;
    cursor: pointer;
  }

  &:before {
    content: "Class Photo";
    display: inline-block;
    width: 100px;
    margin-left: 75px;
    font-family: sans-serif;
    opacity: .5;
    text-transform: none;
    word-wrap: revert;
    white-space: pre-wrap;
    margin-top: 33px;
    line-height: normal;
}

  #selfie_title {
    margin: auto;
    height: 150px;
    width: 400px;
    background-image: url('../img/title.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: calc(50% - 200px);
    top: 20px;
  }

  .selfie_year {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: black;
    display: inline-block;
    height: 500px;
    position: absolute;
    vertical-align: middle;
    width: 250px;
    z-index: 1;
    background-position: top;
  }

  #selfie_2009 {
    background-image: url('../img/gregors/2009.png');
    left: 29%;
    top: 241px;
    width: 200px;
    z-index: 3;
  }
  #selfie_2011 {
    background-image: url('../img/gregors/2011.png');
    left: 37%;
    top: 135px;
    width: 100px;
  }
  #selfie_2012 {
    background-image: url('../img/gregors/2012.png');
    left: 43%;
    top: 135px;
    width: 114px;
    z-index: 1;
  }
  #selfie_2013 {
    top: 130px;
    width: 183px;
    left: 51%;
    z-index: 0;
    background-image: url('../img/gregors/2013.png');
  }
  #selfie_2014 {
    left: 29%;
    top: 121px;
    width: 127px;
    z-index: 0;
    background-image: url('../img/gregors/2014.png');
  }
  #selfie_2016 {
    left: 41%;
    width: 154px;
    top: 226px;
    z-index: 2;
    background-image: url('../img/gregors/2016.png');
  }
  
  #selfie_2017 {
    width: 148px;
    left: 49%;
    top: 232px;
    z-index: 1;
    background-image: url('../img/gregors/2017.png');
  }
  #selfie_2018 {
    z-index: 2;
    left: 53%;
    top: 363px;
    width: 200px;
    background-image: url('../img/gregors/2018.png');
  }
  #selfie_2019 {
    top: 368px;
    left: 29%;
    width: 171px;
    z-index: 3;
    background-image: url('../img/gregors/2019.png');
  }

  #selfie_2020 {
    width: 138px;
    left: 55%;
    top: 245px;
    z-index: 1;
    background-image: url('../img/gregors/2020.png');
  }
  
  #selfie_2021 {
    width: 182px;
    left: 41%;
    top: 368px;
    z-index: 3;
    background-image: url('../img/gregors/2021.png');
  }
  #selfie_2022 {
    width: 182px;
    z-index: 2;
    top: 219px;
    left: 20%;
    background-image: url('../img/gregors/2022.png');
  }
}

/* ==========================================================================
     Media Queries
   ========================================================================== */
  
     @media only screen and (min-width: 900px) {
      .info {
        width: 400px;
      }
    }
     
    @media only screen and (max-height: 780px) {
      #team {
        top: 0;
        border-radius: 0.5rem;
      }
    }
    